
.user-form {
  font-family: 'Mulish', sans-serif !important;
  font-weight: 600;
  height: 100%;
  min-height: 100vh;
}

h2 {
  font-weight: 800;
  margin: 18vh 0 4vh;
}

.register-button {
  margin-top: 2vh;
}

.signup-button {
  margin-top: 2vh;
}

input {
  border-radius: 0px !important;
}

.form-link-container {
  display: flex;
  justify-content: flex-end;
  margin-right: 7vw;
  margin-top: 4vh;
}

.form-link:hover {
  text-decoration: none;
  color: #52E3BF;
}

.conf-modal {
  font-family: "Mulish", sans-serif;
}

.cm-text {
  margin-bottom: 40px;
}

.cm-button-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.cm-button {
  margin-right: 10px;
}

.form-error {
  color:rgb(141, 74, 141);
}

@media (max-width: 768px) {
  h2 {
    font-size: 24px;
    margin: 3vh 0 2vh;
  }
  
  .login-header {
    margin-bottom: 4vh;
  }

  .register-header {
    margin-top: 2vh;
  }
  
  .login-form-link {
    position: fixed;
    bottom: 10px;
    background-color:#f7f7f8;
  }
}

@media (max-width: 576px) {
  /* .form-link {
    font-size: 14px;
  } */
}