.cart-item {
  width: 100%;
  max-height: 200px;
  margin: 5px 0;
  margin-left: 5%;
  border: 1px solid rgb(211, 211, 211);
  border-radius: 3px;
  background-color: white !important;
}

.dc-image-container {
  max-height: 150px;
}

.cart-item-image {
  /* height: 200px;
  width: auto;
  max-width: 100%;
  max-height: 90%; */
  max-height: 170px;
  max-width: 170px;
  height: auto;
  width: auto;
  margin: 3px 0;
}

.ci-info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.ci-info-container h3 {
  font-size: 20px;
}

.ci-button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cart-item-button {
  width: 90px;
}

.ci-button-text:after {
  content: "Remove";
}
.ci-button-text {
  display: block;
}

@media (max-height: 700px) {
  .ci-image-container {
    max-height: 100px;
  }

  .ci-info-container {
    margin-top: 5px;
  }

  .ci-info-container h3 {
    font-size: 16px;
  }

}


/* Media Query Medium */

@media (max-width: 768px) {
  .cart-item-image {
    margin-top: 6%;
    max-height: 80px;
    max-width: 80px;
    margin: 10px 0;
  }
}

/* Media Query Mobil (sm) */

@media (max-width: 576px) {
  .cart-item {
    margin: 10px auto;
  }

  .ci-info-container h3 {
    font-size: 16px;
  }

  .cart-item-button {
    width: 45px;
    margin-top: 20%;
    margin-left: 20%;
  }

  .ci-button-text:after {
    content: "X";
  }
  .ci-button-text {
    display: block;
  }
}