.drawer-cart-card-image {
  height: 80%;
  /* max-height: 210px; */
  max-height: 20vh;
  object-fit: cover;
  margin-top: 9px;
  margin-bottom: 0px;
  margin-left: 20px;
}

.drawer-cart-item-title {
  font-size: 20px;
  /* min-height: 65px; */
  font-weight: 600;
  min-height: 5.5vh;
}

.drawer-cart-item-price {
  font-size: 18px;
  /* margin: 15px 0px 33px; */
  /* margin-top: 2vh; */
  margin-bottom: 2.5vh; 
}

.drawer-cart-card {
  min-width: 100%;
  /* margin: 4px; */
  height: 20vh;
}