.drawer-item {
  width: 90%;
  max-height: 200px;
  margin: 5px 0;
  margin-left: 5%;
  border: 1px solid rgb(211, 211, 211);
  border-radius: 3px;
}

.di-image-container {
  max-height: 150px;
}

.drawer-item-image {
  max-width: 100%;
  max-height: 90%;
  margin-top: 3%;
}

.di-info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.di-info-container h3 {
  font-size: 20px;
}

.di-button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.drawer-item-button {
  width: 90px;
}

.di-button-text:after {
  content: "Remove";
}
.di-button-text {
  display: block;
}

@media (max-height: 700px) {
  .di-image-container {
    max-height: 100px;
  }

  .di-info-container {
    margin-top: 5px;
  }

  .di-info-container h3 {
    font-size: 16px;
  }

}


/* Media Query Medium */

@media (max-width: 768px) {
  .drawer-item-image {
    margin-top: 6%;
  }
}

/* Media Query Mobil (sm) */

@media (max-width: 576px) {
  .drawer-item {
    margin: 10px auto;
  }

  .di-info-container h3 {
    font-size: 16px;
  }

  .drawer-item-button {
    width: 45px;
    margin-top: 20%;
    margin-left: 20%;
  }

  .di-button-text:after {
    content: "X";
  }
  .di-button-text {
    display: block;
  }
}