.cart-drawer { 
  height: 100%;
  background: white;
  position: fixed;
  top: 0;
  right: 0;
  width: 40%;
  z-index: 200;
  box-shadow: 1px 0px 7px rgba(0,0,0,0.5); 
  transform: translateX(100%);
  transition: transform 0.3s ease-out;
}

.cart-drawer.open {
  transform: translateX(0);
}

.drawer-header {
  color: #4762E6;
  margin-top: 10px;
}

.need-items-drawer {
  display: flex;
  flex-direction: column;
  font-size: 30px;
  margin-top: 10px;
  margin-left: 9%;
}

.cart-link-drawer {
  color: #4762E6;
}

.cart-link-drawer:hover {
  text-decoration: none;
  color: #52E3BF;
}

.drawer-button-container {
  position: absolute;
  bottom: 0;
  margin-left: 41.5%;
  margin-bottom: 2vh;
  display: flex;
  width: 100%;
}

.go-button-container {
  margin-top: 3vh;
  margin-bottom: vh;
}

/* Deck Complete Animation */

@keyframes flickerAnimation {
  0%   { opacity:1; }
  50%  { opacity:.2 }
  100% { opacity:1; }
}
@-o-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:.2 }
  100% { opacity:1; }
}
@-moz-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:.2 }
  100% { opacity:1; }
}
@-webkit-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:.2 }
  100% { opacity:1; }
}
.animate-flicker {
   -webkit-animation: flickerAnimation 1.5s infinite;
   -moz-animation: flickerAnimation 1.5s infinite;
   -o-animation: flickerAnimation 1.5s infinite;
    animation: flickerAnimation 1.5s infinite;
}

/* END Deck Complete Animation */