.cart-card-image {
  height: 100%;
  /* max-height: 210px; */
  max-height: 20vh;
  object-fit: cover;
  margin-top: 9px;
  margin-bottom: 0px;
}

.cart-item-title {
  font-size: 30px;
  /* min-height: 65px; */
  min-height: 6vh;
}

.cart-item-price {
  font-size: 20px;
  /* margin: 15px 0px 33px; */
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.cart-card {
  min-width: 100%;
  margin: 4px;
  height: 22vh;
}