.cart-component {
  font-family: 'Mulish', sans-serif;
  background-color: #f7f7f8;
  min-height: 100vh;
  height: 100%;
}

.cart-body {
  font-weight: 600;
}

.cart-header {
  margin: .5vh 0;
}

.cart-header h1 {
  color: #4762E6;
}

.cart-header h3 {
  color: #4762E6;
  font-size: 25px;
}

.total-container {
  /* border: 1px solid blue; */
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  margin: 2.4vh 0;
}

.need-items {
  margin-top: 1vh;
  display: flex;
  flex-direction: column;
  margin-left: 3vw;
}

.cart-link {
  color: #4762E6;
  font-size: 23px;
  left: 20vw;
}

.cart-link:hover {
  text-decoration: none;
  color: #52E3BF;
}

.total {
  font-size: 20px;
  margin-bottom: 5px;
  border-bottom: 1px solid black;
  width: 200px;
}

.button-container {
  /* border: 1px solid blue; */
  padding-top: 13px;
  display: flex;
  justify-content: space-around;
}

.reg-button {
  margin: 0 7px;
}

.no-parts {
  margin: 20vh 0;
}