.cart-component {
  font-family: 'Mulish', sans-serif;
}

.cart-body {
  font-weight: 600;
}

.header {
  margin: 3vh 0;
}

.header h1 {
  color: #4762E6;
}

.header h3 {
  color: #4762E6;
  font-size: 25px;
}

.total-container {
  /* border: 1px solid blue; */
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  margin: 3vh 0;
}

.total {
  font-size: 20px;
  margin-bottom: 5px;
  border-bottom: 1px solid black;
  width: 200px;
}

.button-container {
  /* border: 1px solid blue; */
  padding-top: 13px;
  display: flex;
  justify-content: space-around;
}

.reg-button {
  margin: 0 7px;
}