.card {
  margin: 1vh 0;
  /* background-color: #f3f3f5; */
}

.card-title {
  min-height: 50px;
}

.card-image {
  height: 100%;
  max-height: 35vh;
  object-fit: cover;
  margin-bottom: 20px;
}

.card-image:hover {
  cursor: pointer;
}

.card-bottom {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* color: white; */
}

.price {
  font-size: 20px;
  padding-top: 1px;
}

.shop-button {
  padding: 9px 12px;
  margin-bottom: 15px;
  font-weight: 800 !important;
  border-radius: 0px !important;
}

.shop-button:hover {
  background-color: #52E3BF !important;
  color: white !important;
  border-color: #52E3BF !important;
}

/* Category Modal */

.cat-modal {
  font-family: 'Mulish', sans-serif;
  font-weight: 600;
}

.cat-modal .close {
  color: #4762E6 !important;
  /* width: 50px; */
}

.cat-modal .close:hover {
  color: #52E3BF !important;
}

/* Description Modal */

.desc-modal {
  font-family: 'Mulish', sans-serif;
}

.dm-image-container {
  display: flex;
  justify-content: center;
}

.dm-image {
  max-width: 40vh;
  height: auto;
}

.dm-description-container {
  padding: 0 20px;
}

.dm-footer {
  display: flex;
  justify-content: space-between;
}

.dm-price-container {
  display: flex;
  justify-content: center;
  width: 45%;
}

.dm-price {
  /* display: flex;
  justify-content: center; */
  text-align: center;
}

.dm-button-container {
  width: 45%;
  display: flex;
  justify-content: space-between;
  /* border: 1px solid blue; */
}

.dm-price {
  font-size: 25px;
  margin-bottom: 15px;
}

@media (max-width: 576px) {

  .dm-image {
    max-height: 250px;
    width: auto;
  }
  .dm-description {
    font-size: 16px;
  }

  .dm-price {
    font-size: 22px;
  }

  .dm-button-container {
    width: 100%;
  
  }

  .dm-footer {
    flex-direction: column;
    padding-bottom: 0px;
  }
}

/* 
@media (max-height: 800px) {
  .dm-image {
    max-height: 240px;
    width: auto;
  }
} */

@media (max-height: 600px) {
  .dm-name {
    font-size: 20px;
  }
  .dm-image {
    max-height: 200px;
    width: auto;
  }
} 



/* Remove Modal */

.remove-modal {
  font-family: 'Mulish', sans-serif;
  font-weight: 600;
}


