.items {
  background-color: #f7f7f8;
  font-family: 'Mulish', sans-serif;
  font-weight: 600;
}

.breadcrumb-container {
  display: flex;
  justify-content: center;
}

/* .cat-breadcrumb {
  border: 1px solid blue;
  align-items: center ;
} */

.cat-breadcrumb ol{
  background-color: #f7f7f8 !important;
  align-self: center;
  font-size: 40px;
}

.cat-breadcrumb li {
  color: #3d3d3d !important;
}

.cat-breadcrumb li a {
  color: #4762E6;
}

.cat-breadcrumb li a:hover {
  color: #5BFCA6;
  text-decoration: none;
}

.strike-thru {
  text-decoration: line-through;
}