.navbar-brand:hover {
  color: #5BFCA6 !important;
}

.navbar-link {
  color: white!important;
}

.navbar-link:hover {
  color: #5BFCA6 !important;
  cursor: pointer;
  /* text-decoration: underline; */
}

.nav-slash {
  color: white;
  /* margin-top: 7.5px; */
  font-size: 25px !important;
}

.navbar-brand-l {
  color: #303033 !important;
}

.navbar-link-l {
  color: #303033 !important;
}

.navbar-link-l:hover {
  color: #5BFCA6 !important;
  /* text-decoration: underline; */
}

.nav-slash-l {
  color: #303033;
  /* margin-top: 7.5px; */
  font-size: 25px !important;
}

.light {
  font-weight: 800;
}

.basic-navbar-nav {
  display: flex;
  justify-content: end;
}

.navbar-toggler-icon {
  color: black !important;
  /* background-color: black !important; */
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 0.6)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

/* Media Query Medium */

@media (max-width: 768px) { 
  .me-auto {
    margin-top: 40px !important;
    margin-bottom: 10px;
  }

  .navbar-brand {
    font-size: 25px !important;
    margin-top: 2px;
  }

  .navbar-link {
    font-size: 20px !important;
    color: rgb(116, 116, 116) !important;
  }
}
