.navbar-brand:hover {
  color: #5BFCA6 !important;
}

.navbar-link {
  color: white!important;
}

.navbar-link:hover {
  color: #5BFCA6 !important;
  /* text-decoration: underline; */
}

.nav-slash {
  color: white;
  /* margin-top: 7.5px; */
  font-size: 25px !important;
}

.navbar-brand-l {
  color: #303033 !important;
}

.navbar-link-l {
  color: #303033 !important;
}

.navbar-link-l:hover {
  color: #5BFCA6 !important;
  /* text-decoration: underline; */
}

.nav-slash-l {
  color: #303033;
  /* margin-top: 7.5px; */
  font-size: 25px !important;
}

.light {
  font-weight: 800;
}